<!-- Header -->
<header class="bg-white shadow">
  <nav class="container mx-auto p-6 flex justify-between items-center">
    <!-- Logo -->
    <a class="text-xl font-bold text-gray-800" routerLink="/">eLMS</a>

    <!-- Navigation Links -->
    <div class="flex items-center space-x-4">
      <a class="text-gray-600 hover:text-gray-800" routerLink="/courses"
        >Courses</a
      >

      <!-- Show Login/Register if user is not logged in -->
      <ng-container *ngIf="!isLoggedIn; else loggedInLinks">
        <a class="text-gray-600 hover:text-gray-800" routerLink="/login"
          >Login</a
        >
        <a class="text-gray-600 hover:text-gray-800" routerLink="/register"
          >Register</a
        >
      </ng-container>

      <!-- Show Logout if user is logged in -->
      <ng-template #loggedInLinks>
        <a
          class="text-gray-600 hover:text-gray-800 cursor-pointer"
          (click)="logout()"
          >Logout</a
        >
      </ng-template>
    </div>
  </nav>
</header>

<!-- Main -->
<main class="min-h-screen">
  <router-outlet></router-outlet>
</main>
<!-- Footer -->
<footer class="text-gray-600 body-font w-full">
  <div
    class="w-full container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col justify-center"
  >
    <a
      class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
    >
      <span class="ml-3 text-xl">eLMS</span>
    </a>
    <p class="text-sm text-gray-500 sm:ml-6 sm:mt-0 mt-4">
      © all rights reserved
    </p>
  </div>
</footer>
